/* Removes browser default stlyes and adjusts box sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Adds background color to the entire body of the page */
body {
    background-color: #d9dcd6;
}

/* 
BEGIN CSS for HEADER: 
Adds padding, changes font, and adds color to background & text.
*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Displays all h1 elements to inline block and changes font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes text color */
.header h1 .seo {
    color: #d9dcd6;
}

/* Forces text to show in the blue field in top right cornor of page. */
header nav {
    float: right;
    margin: 7px 0;
}

/* Floats entire header div to top right of page with some font changes !!!! cnanging this will help with misplaced header div!!!!*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* No default content of the listed items*/
.header div ul {
    list-style-type: none;
}

/* Changes the way the listed items are displayed with an added margin. */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* All links will have the same color with no text decorations (underlines) */
a {
    color: #ffffff;
    text-decoration: none;
}
/* END CSS for HEADER */

/* All p elements will have the same font on the entire html page */
p {
    font-size: 16px;
}

/* 
BEGIN CSS for HERO SECTION: 
Displays image in block form with a set margin and maximum width. 
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 
Adds margin & padding, change in font, 
and changes of color for background and text. 
*/
.hero-section-div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Makes entire div and its properties set to the left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Makes entire div and its properties set to the right. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Adding height to container that will also allow overflow*/
.hero-section img {
    max-height: 200px;
}

/* Adding a bottom with a font size of 36 pixels */
.hero-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
} 
/* END CSS for HERO SECTION */

/*
BEGIN CSS for BENEFITS SECTION:
Changes font of entire Benefits box and its position on the html page.
*/
.benefits {
    position: relative;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changes text to white with a bottom margin */
.benefit-div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Creates a margin with the text aligned in the center for h3 elements */
.benefit-div h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sizes all images inside of Benefit section */
.benefit-div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* END CSS for BENEFITS SECTION */

/* 
BEGIN CSS for FOOTER: 
Changes the font style, size and alignment
*/ 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* All font of <h2> in footer section will have same size */
.footer h2 {
    font-size: 20px;
}
/* END CSS for FOOTER */